.footer {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__menu {
        display: flex;
        column-gap: 5px;
        align-items: flex-start;
        justify-content: space-between;
        border: 1px solid var(--color-dark);
        width: 100%;
        padding: 2vw;

        @include mobile {
           column-gap: 15px;
           flex-wrap: wrap;
           row-gap: 15px;
        }

        @include mobile-s {
            flex-direction: column;
            justify-content: center;
            align-items: center;
         }

    }
    &__description {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2vw;
        width: 100%;

        @include mobile-s {
            font-size: 4vw;
            text-align: center;
            justify-content: center;
        }
    }

    &__logo {
        width: 100%;

        @include mobile-s  {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
        }

        & img {
            width: 25%;
            height: auto;

            @include tablet {
                width: 50%;
            }

            @include mobile-s  {
                width: 100%;
            }
        }
        &--wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 0.5vw;
            width: 20vw;

            @include mobile {
                width: 25vw;
            }

            @include mobile-s {
                width: 100%;
                align-items: center;
                justify-content: center;
            }
        }

        &--text {
            font-size: 0.8vw;

            @include desktop {
                font-size: 1vw;
            }
            @include tablet {
                font-size: 1.3vw;
            }
            @include mobile {
                font-size: 2vw;
            }
            @include mobile-s {
                font-size: 4vw;
                text-align: center;
            }
        }
    }

    &__list {

        @include mobile-s {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        & ul, h3 {
            margin: 0;
        }

        & ul {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            @include mobile {
                padding: 0;
                row-gap: 5px;
            }
            

            & h3 {
                font-size: 1vw;

                @include desktop {
                    font-size: 1.2vw;
                }

                @include tablet {
                    font-size: 1.6vw;
                }
                @include mobile {
                    font-size: 2.5vw;
                }
                @include mobile-s {
                    font-size: 5vw;
                    text-align: center;
                }
            }
        }

        & li {
            list-style-type: none;
            transition-duration: var(--transition-duration);
            cursor: default;
            font-size: 0.8vw;

            @include desktop {
                font-size: 1vw;
            }
            @include tablet {
                font-size: 1.3vw;
            }
            @include mobile {
                font-size: 2vw;
            }
            @include mobile-s {
                font-size: 4vw;
                text-align: center;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__subscribe {
        width: 20vw;

        @include mobile {
            width: 50%;
        }
        @include mobile-s {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--content {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            @include mobile {
                width: 40vw;                
            }
            @include mobile-s {
                width: 90%;
            }
        }
    }

    &__title {
        & p {
           font-weight: 500;
            font-size: 1vw; 

            @include desktop {
                font-size: 1.2vw;
            }
            @include tablet {
                font-size: 1.6vw;
            }
            @include mobile {
                font-size: 2.5vw;
            }
            @include mobile-s {
                font-size: 5vw;
                text-align: center;
            }
        }
        
    }

    &__form {
        display: flex;
        column-gap: 1vw;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--color-dark);
        padding-bottom: 10px;
        width: 100%;
    }

    &__input, &__button {
        outline: none;
        border: none;
        background-color: transparent;


        &::placeholder {
            font-family: var(--font-family-accent);
            color: var(--color-dark);
            font-size: clamp(16px, 0.9vw, 1vw);
        }
    }
    &__input {
        width: 80%;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 20%;
        transition-duration: var(--transition-duration);

        &:hover svg{
            opacity: 0.7;
        }
    }
}