.header {    
    background: url('../../img/header-img.png') center/cover no-repeat;
   

    &__body {        
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 100px;
    }


    &__menu {
       display: flex;
       column-gap: 10px;
       justify-content: space-between;
       align-items: center;
       padding-block: 20px;
       width: 90%;
       margin-bottom: 25%;
       border-bottom: 1px solid var(--color-dark);

       &__logo {
        display: flex;
        flex-shrink: 0;

        @include mobile {
            width: 100%;
            justify-content: flex-start
        }

       }
       
       &__left {
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            width: 100%;
            justify-content: center;
        }
       }

       &__right {
        display: flex;
        align-items: center;        
       }

       
    }

    &__list {
        &--left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 3.5vw;

            @include desktop {
                column-gap: 2vw;
            }
            
            
        }

        &--right{
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 4vw;

            @include desktop {
                column-gap: 2vw;
            }
        }
    }

    &__item {
        &--left {
            display: flex;
            align-items: center;
            font-size: clamp(14px, 1.8vw, 24px);

            @include hover {
                opacity: 0.7;
            }
        }

        &--right {
            display: flex;
            align-items: center;
            font-size: clamp(16px, 2vw, 24px);
            column-gap: 10px;
            justify-content: center;
            margin-bottom: 0;

            @include hover {
                opacity: 0.7;
            }
             
            & img {
                @include desktop {
                    width: 2vw;
                    height: 4vh;
                }
            }
            
        }

    }

    &__description {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        padding-block: 50px;
        border-bottom: 1px solid var(--color-dark);
        margin-bottom: 5vh;

        &__text {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            align-items: flex-start;
            justify-content: center;
        }

        &__post-title {
            font-size: clamp(14px, 1.5vw, 20px);
            width: 70%;
            margin-bottom: 10px;

            @include mobile {
                font-weight: 600;
            }
        }
    }
}