@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-gray: #AAAAAA;
  --font-family-base: "Noto Sans", sans-serif;
  --font-family-accent: "Nunito Sans", sans-serif;
  --input-height: 50px;
  --input-padding: 15px 22px;
  --input-border: 2px solid #000000;
  --border-radius: 5px;
  --container-width: 1300px;
  --container-padding-x: 15px;
  --transition-duration: 0.2s;
}
@media (max-width: 1280px) {
  :root {
    --section-padding-y: 50px;
  }
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 30px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(12px, 1.25vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1, .h1 {
  font-size: clamp(43px, 4.1666666667vw, 60px);
}

h2, .h2 {
  font-size: clamp(36px, 2.7777777778vw, 40px);
}

h3, .h3 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h4, .h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

.button-transparent {
  background-color: transparent;
  border: 1px solid var(--color-dark);
  font-size: clamp(12px, 1.2vw, 20px);
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 40px;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .button-transparent:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
    opacity: 0.7;
  }
}
@media (hover: none) {
  .button-transparent:active {
    background-color: var(--color-dark);
    color: var(--color-light);
    opacity: 0.7;
  }
}

.button-burger {
  background-color: transparent;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  border: none;
}
@media (hover: hover) {
  .button-burger:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .button-burger:active {
    opacity: 0.7;
  }
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  min-height: 80vh;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 14px 20px;
  border: none;
}

.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}

.mobile-overlay__close-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.mobile-overlay__item {
  font-size: 18px;
}

.header {
  background: url("../../img/header-img.png") center/cover no-repeat;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 100px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 20px;
  width: 90%;
  margin-bottom: 25%;
  border-bottom: 1px solid var(--color-dark);
}
.header__menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 767px) {
  .header__menu__logo {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.header__menu__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .header__menu__left {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.5vw;
     -moz-column-gap: 3.5vw;
          column-gap: 3.5vw;
}
@media (max-width: 1280px) {
  .header__list--left {
    -webkit-column-gap: 2vw;
       -moz-column-gap: 2vw;
            column-gap: 2vw;
  }
}
.header__list--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4vw;
     -moz-column-gap: 4vw;
          column-gap: 4vw;
}
@media (max-width: 1280px) {
  .header__list--right {
    -webkit-column-gap: 2vw;
       -moz-column-gap: 2vw;
            column-gap: 2vw;
  }
}
.header__item--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(14px, 1.8vw, 24px);
}
@media (hover: hover) {
  .header__item--left:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .header__item--left:active {
    opacity: 0.7;
  }
}
.header__item--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(16px, 2vw, 24px);
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}
@media (hover: hover) {
  .header__item--right:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .header__item--right:active {
    opacity: 0.7;
  }
}
@media (max-width: 1280px) {
  .header__item--right img {
    width: 2vw;
    height: 4vh;
  }
}
.header__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding-block: 50px;
  border-bottom: 1px solid var(--color-dark);
  margin-bottom: 5vh;
}
.header__description__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__description__post-title {
  font-size: clamp(14px, 1.5vw, 20px);
  width: 70%;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .header__description__post-title {
    font-weight: 600;
  }
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.shop__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 46%;
  font-size: clamp(16px, 1.5vw, 34px);
}
.shop__title--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-block: 50px;
}
.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.shop__filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: clamp(11px, 1vw, 18px);
  text-transform: uppercase;
  font-weight: 600;
  padding-right: 50px;
}
.shop__elements {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 767px) {
  .shop__elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.shop__card {
  -webkit-box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
  box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
  position: relative;
}
.shop__img {
  position: relative;
  width: 100%;
}
.shop__img--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
  position: absolute;
  top: 4%;
  right: 6%;
}
.shop__img--icons svg {
  width: 20px;
  height: 20px;
}
.shop__description--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid var(--color-dark);
}

.card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  border-right: 1px solid var(--color-dark);
  padding-left: 30px;
  padding-block: 10px;
}
.card__name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(12px, 0.6vw, 18px);
}
.card__bag {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.img__container img {
  height: auto;
}

.new::after {
  content: "New";
  width: 2vw;
  height: 1vw;
  padding: 10px 20px;
  background-color: #fff;
  color: var(--color-dark);
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--color-dark);
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  left: 9%;
  translate: -50% -50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale::after {
  content: "sale";
  width: 2vw;
  height: 1vw;
  padding: 10px 20px;
  background-color: #fff;
  color: var(--color-dark);
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--color-dark);
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  left: 9%;
  translate: -50% -50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sold::after {
  content: "Sold";
  width: 2vw;
  height: 1vw;
  padding: 10px 20px;
  background-color: var(--color-dark);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  left: 9%;
  translate: -50% -50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-img {
  margin-top: 5vw;
}
@media (max-width: 480px) {
  .big-img {
    margin-top: 10vw;
  }
}
.big-img__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0px;
     -moz-column-gap: 0px;
          column-gap: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
@media (max-width: 767px) {
  .big-img__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.big-img__man, .big-img__woman {
  position: relative;
  -webkit-box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
  box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
  width: 100%;
}
.big-img__img--wrapper {
  width: 100%;
}
.big-img__img {
  width: 100%;
  height: auto;
}
.big-img__description {
  position: absolute;
  top: 50%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}
.big-img__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2vw;
}
@media (max-width: 767px) {
  .big-img__title {
    font-size: 4vw;
  }
}

.quotes {
  margin-top: 5vw;
}
@media (max-width: 480px) {
  .quotes {
    margin-top: 10vw;
  }
}
.quotes__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quotes__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 2vw 0;
  position: relative;
}
.quotes__description::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4%;
  translate: -50% -50%;
  background: url(../../img/icons/arr_left.svg) center/contain no-repeat;
  width: 15px;
  height: 30px;
}
.quotes__description::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 4%;
  translate: -50% -50%;
  background: url(../../img/icons/arr-right.svg) center/contain no-repeat;
  width: 15px;
  height: 30px;
}
.quotes__text {
  font-size: 2vw;
  width: 70%;
}
@media (max-width: 767px) {
  .quotes__text {
    font-size: 4vw;
  }
}
@media (max-width: 480px) {
  .quotes__text {
    font-size: 5vw;
  }
}
.quotes__brands {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: 2vw;
}
@media (max-width: 767px) {
  .quotes__brands {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .quotes__brands {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 767px) {
  .quotes__brands--elem:last-child {
    grid-column: -1/1;
  }
}
.quotes__brands--img {
  width: 100%;
  height: auto;
}

.posts {
  margin-top: 5vw;
}
@media (max-width: 480px) {
  .posts {
    margin-top: 10vw;
  }
}
.posts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 3vw;
}
.posts__flow {
  position: relative;
}
.posts__flow__img {
  width: 100%;
  height: auto;
}
.posts__flow__img-wrapper {
  -webkit-box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
  box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
}
.posts__flow__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 42%;
  left: 0%;
  width: 100%;
  row-gap: 0.7vw;
}
.posts__flow__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.posts__flow__text p {
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--color-light);
  font-size: 3vw;
}
@media (max-width: 767px) {
  .posts__flow__text p {
    font-size: 5vw;
  }
}
@media (max-width: 480px) {
  .posts__flow__text p {
    font-size: 6vw;
  }
}
.posts__flow__link {
  color: var(--color-light);
}
.posts__read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.posts__read__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  row-gap: 0.3vw;
}
@media (max-width: 767px) {
  .posts__read__title {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .posts__read__title {
    width: 95%;
  }
}
.posts__read__title h2 {
  font-size: 1.5vw;
  margin: 0;
  text-align: center;
}
@media (max-width: 1280px) {
  .posts__read__title h2 {
    font-size: 2.5vw;
  }
}
@media (max-width: 767px) {
  .posts__read__title h2 {
    font-size: 3.5vw;
  }
}
@media (max-width: 480px) {
  .posts__read__title h2 {
    font-size: 5vw;
  }
}
.posts__read__title p {
  text-align: center;
  font-size: 1vw;
}
@media (max-width: 1280px) {
  .posts__read__title p {
    font-size: 1.5vw;
  }
}
@media (max-width: 767px) {
  .posts__read__title p {
    font-size: 3vw;
  }
}
@media (max-width: 480px) {
  .posts__read__title p {
    font-size: 4vw;
  }
}
.posts__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5vw;
     -moz-column-gap: 0.5vw;
          column-gap: 0.5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 767px) {
  .posts__post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.posts__post__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.4vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.posts__post__elem-img {
  position: relative;
}
.posts__post__elem-img::after {
  content: "September 29, 2024";
  width: 12vw;
  height: 1vw;
  padding: 10px 20px;
  background-color: #fff;
  color: var(--color-dark);
  font-size: 0.8vw;
  font-weight: 500;
  border: 1px solid var(--color-dark);
  text-transform: uppercase;
  position: absolute;
  top: 6%;
  left: 34%;
  translate: -50% -50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1280px) {
  .posts__post__elem-img::after {
    left: 23%;
  }
}
@media (max-width: 1023px) {
  .posts__post__elem-img::after {
    width: 16vw;
    font-size: 1vw;
    left: 28%;
  }
}
@media (max-width: 767px) {
  .posts__post__elem-img::after {
    width: 30vw;
    font-size: 1.8vw;
    left: 19%;
  }
}
@media (max-width: 480px) {
  .posts__post__elem-img::after {
    width: 40vw;
    font-size: 2.6vw;
    left: 28%;
  }
}
.posts__post__elem-img img {
  width: 100%;
  height: auto;
}
.posts__post__elem-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.4vw;
     -moz-column-gap: 0.4vw;
          column-gap: 0.4vw;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0.5vw;
  border-bottom: 1px solid var(--color-dark);
  font-size: 1vw;
}
@media (max-width: 1280px) {
  .posts__post__elem-name {
    font-size: 1.5vw;
  }
}
@media (max-width: 767px) {
  .posts__post__elem-name {
    font-size: 4vw;
    -webkit-column-gap: 1.4vw;
       -moz-column-gap: 1.4vw;
            column-gap: 1.4vw;
  }
}
@media (max-width: 480px) {
  .posts__post__elem-name {
    font-size: 5vw;
  }
}
.posts__post__elem-description {
  font-weight: 500;
  font-size: 1.1vw;
  text-align: center;
  width: 77%;
}
@media (max-width: 1280px) {
  .posts__post__elem-description {
    font-size: 1.6vw;
  }
}
@media (max-width: 767px) {
  .posts__post__elem-description {
    font-size: 4vw;
  }
}
@media (max-width: 480px) {
  .posts__post__elem-description {
    font-size: 5vw;
  }
}

.read-more {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 0.7vw;
  font-weight: 600;
}
@media (max-width: 1280px) {
  .read-more {
    font-size: 1.4vw;
  }
}
@media (max-width: 767px) {
  .read-more {
    font-size: 2.4vw;
  }
}
@media (max-width: 480px) {
  .read-more {
    font-size: 4vw;
  }
}

.line {
  border-right: 3px solid var(--color-dark);
  padding-right: 10px;
}

.sign-up {
  margin-top: 5vw;
}
@media (max-width: 480px) {
  .sign-up {
    margin-top: 10vw;
  }
}
.sign-up__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.sign-up__img {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .sign-up__img {
    opacity: 0;
  }
}
.sign-up__img--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.sign-up__description {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1vw;
  width: 30vw;
}
@media (max-width: 1023px) {
  .sign-up__description {
    width: 34vw;
  }
}
@media (max-width: 767px) {
  .sign-up__description {
    width: 62vw;
  }
}
.sign-up__title {
  text-align: center;
}
.sign-up__title h2 {
  font-size: clamp(18px, 1.5vw, 2vw);
}
@media (max-width: 767px) {
  .sign-up__title h2 {
    font-size: 4vw;
  }
}
.sign-up__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1vw;
     -moz-column-gap: 1vw;
          column-gap: 1vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--color-dark);
  padding-bottom: 10px;
  width: 100%;
}
.sign-up__input, .sign-up__button {
  outline: none;
  border: none;
  background-color: transparent;
}
.sign-up__input::-webkit-input-placeholder, .sign-up__button::-webkit-input-placeholder {
  font-family: var(--font-family-accent);
  color: var(--color-dark);
  font-size: clamp(16px, 0.9vw, 1vw);
}
.sign-up__input::-moz-placeholder, .sign-up__button::-moz-placeholder {
  font-family: var(--font-family-accent);
  color: var(--color-dark);
  font-size: clamp(16px, 0.9vw, 1vw);
}
.sign-up__input:-ms-input-placeholder, .sign-up__button:-ms-input-placeholder {
  font-family: var(--font-family-accent);
  color: var(--color-dark);
  font-size: clamp(16px, 0.9vw, 1vw);
}
.sign-up__input::-ms-input-placeholder, .sign-up__button::-ms-input-placeholder {
  font-family: var(--font-family-accent);
  color: var(--color-dark);
  font-size: clamp(16px, 0.9vw, 1vw);
}
.sign-up__input::placeholder, .sign-up__button::placeholder {
  font-family: var(--font-family-accent);
  color: var(--color-dark);
  font-size: clamp(16px, 0.9vw, 1vw);
}
.sign-up__input {
  width: 80%;
}
.sign-up__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20%;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
.sign-up__button:hover svg {
  opacity: 0.7;
}

.artists {
  margin-top: 5vw;
}
@media (max-width: 480px) {
  .artists {
    margin-top: 10vw;
  }
}
.artists__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5vw;
     -moz-column-gap: 5vw;
          column-gap: 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .artists__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5vw;
  }
}
.artists__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1vw;
     -moz-column-gap: 1vw;
          column-gap: 1vw;
  width: 48vw;
}
@media (max-width: 767px) {
  .artists__img {
    width: 80%;
  }
}
.artists__img--maria, .artists__img--sophia {
  width: 100%;
}
.artists__img--maria img, .artists__img--sophia img {
  width: 100%;
  height: auto;
}
.artists__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1vw;
  width: 21vw;
}
@media (max-width: 767px) {
  .artists__description {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.artists__title h2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(18px, 1.5vw, 2vw);
}
@media (max-width: 767px) {
  .artists__title h2 {
    font-size: 4vw;
    text-align: center;
  }
}
.artists__post-title {
  font-family: var(--font-family-accent);
  font-size: clamp(16px, 1vw, 1.2vw);
}
@media (max-width: 767px) {
  .artists__post-title {
    text-align: center;
  }
}

.insta {
  margin-top: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 480px) {
  .insta {
    margin-top: 10vw;
  }
}
.insta__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 88%;
}
.insta__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.insta__title h2 {
  margin: 0;
  font-size: clamp(18px, 1.5vw, 2vw);
}
@media (max-width: 767px) {
  .insta__title h2 {
    font-size: 4vw;
    text-align: center;
  }
}
.insta__title p {
  font-family: var(--font-family-accent);
  font-size: clamp(16px, 0.8vw, 1.2vw);
}
@media (max-width: 767px) {
  .insta__title p {
    text-align: center;
  }
}
.insta__carousel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(7, 1fr);
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  width: 100%;
}
@media (max-width: 767px) {
  .insta__carousel {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 480px) {
  .insta__carousel {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.insta__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.insta__img img {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .last {
    grid-column: -1/1;
  }
  .last img {
    width: 33%;
  }
}
@media (max-width: 480px) {
  .last img {
    width: 50%;
  }
}

.end-sections {
  margin-top: 5vw;
}
@media (max-width: 480px) {
  .end-sections {
    margin-top: 10vw;
  }
}
.end-sections__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .end-sections__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.end-sections__wrapper {
  width: 100%;
  -webkit-box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
  box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
}
.end-sections__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  padding: 2vw;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid var(--color-dark);
  width: 100%;
  padding: 2vw;
}
.footer__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vw;
  width: 100%;
}
.footer__logo--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5vw;
  width: 20vw;
}
.footer__list ul, .footer__list h3 {
  margin: 0;
}
.footer__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.footer__list li {
  list-style-type: none;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  cursor: default;
}
.footer__list li:hover {
  opacity: 0.8;
}
/*# sourceMappingURL=styles.css.map */